---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import Nav from '@components/Nav.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='The Gym Oasis'>
	<Nav />
	<main>
		<h1 class='main_header'>
			Find Your Winning Formula with best<br />
			<span class='text-gradient'>Suplements and Vitamins</span><br /> just for you.<br
			/>
			<span class='text-gradient'>Unlock Your True Strength!!!</span>
		</h1>
		<p class='main_hero'>
			Best shop in Watford with <code>Suplements and Vitamins</code> for You and
			for Your body.<br />
			Come and visit our shop in <strong>73 Sydney Road WD18 7ES</strong>
		</p>
		<div role='list' class='link-card-grid'>
			<Card
				href='https://docs.astro.build/'
				title='Trec Nutrition'
				img='/trec-logo.png'
				body='Explore Super new fotmula of prteins and more'
			/>
			<Card
				href='https://astro.build/integrations/'
				title='Usn Proteins'
				img='/usn-logo.png'
				body='Supercharger for yours Ability.'
			/>
			<Card
				href='https://astro.build/themes/'
				title='Vitamins for you'
				img='/vitamins1.png'
				body='Vitamins for everyone!!!Supercharge your immune system!!!'
			/>
		</div>
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: 0 auto;
		max-width: 100ch;
	}
	.main_header {
		font-size: clamp(1.5rem, 4vw, 2.5rem);
		font-weight: 800;
		text-align: center;
		margin-bottom: var(--m-bottom);
		color: var(--primary);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.main_hero {
		line-height: 1.6;
		font-size: clamp(0.5rem, 3vw, 1.4rem);
		text-align: center;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: var(--neutral-gray);
		padding: 1rem;
		margin-bottom: var(--m-bottom);
		border-radius: 0.4rem;
		color: var(--primary);
	}
	.main_hero > code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: var(--accent);
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.main_hero > strong {
		color: var(--accent);
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
		margin-bottom: var(--m-bottom);
	}
</style>
