---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import Nav from '@components/Nav.astro';
import Footer from '@components/Footer.astro';
import Slider from '@components/Slider.astro';
import Hero from '@components/Hero.astro';
import Article from '@components/Article.astro';
---

<Layout title='The Gym Oasis'>
	<Nav />
	<main>
		<section class='hero'>
			<Hero />
		</section>

		<h2 class='section-card_header slider_title'>Our Products</h2>
		<section role='list' class='section-card_grid'>
			<Card
				href='https://docs.astro.build/'
				title='Trec Nutrition'
				img='logos/trec-logo.png'
				body='Explore Super new fotmula of prteins and more'
			/>
			<Card
				href='https://astro.build/integrations/'
				title='Usn'
				img='logos/usn-logo.png'
				body='Supercharger for yours Ability.'
			/>
			<Card
				href='https://astro.build/themes/'
				title='Vitamins'
				img='logos/vitamins1.png'
				body='Vitamins for everyone!!!Supercharge your immune system!!!'
			/>
			<Card
				href='https://astro.build/themes/'
				title='7 Nutritios'
				img='logos/7nutritio-logo.png'
				body='Expole best best formula for supplements'
			/>
		</section>
		<section class='section-slider'>
			<h2 class='slider_title'>New in store</h2>
			<Slider />
		</section>
		<section class='section-article'>
			<Article />
		</section>
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: 0 auto;
		max-width: 100ch;
		padding: 0 1rem;
	}
	.hero::after {
		content: '';
		background-image: url('/background.png');
		background-position: center;
		background-size: contein;
		background-repeat: no-repeat;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0.2;
	}

	.section-card_grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
		margin-bottom: var(--m-bottom);
	}
	.section-slider {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		margin-bottom: var(--m-bottom);
		width: 100%;
	}

	.slider_title {
		text-transform: uppercase;
		text-align: center;
		font-size: clamp(2rem, 7vw, 2.5rem);
		color: var(--primary);
		margin: 0 0 2rem 0;
	}
	.section-article {
		margin-bottom: var(--m-bottom);
	}
</style>
