<article class='artcle'>
	<h3 class='article_title'>About<br /> "The Gym Oasis"</h3>
	<p class='article_text'>
		<strong class='article_strong'>
			Welcome to The Gym Oasis! We pride ourselves on being your ultimate
			destination for premium quality fitness products.</strong
		>
		<br /><br />
		Our store is dedicated to providing you with exceptional service and offering
		a wide range of high-quality products tailored to those who live an active lifestyle.<br
		/><br />
		At The Gym Oasis, we understand the importance of quality when it comes to your
		fitness journey. That's why we handpick each and every product in our inventory,
		ensuring that they meet the highest standards of excellence. We believe that
		you deserve nothing but the best, which is why we go the extra mile to bring
		you top-notch fitness essentials.<br /><br /> Whether you're a dedicated gym-goer,
		a fitness enthusiast, or someone looking to take their first steps towards a
		healthier lifestyle, our store has something for everyone. From premium nutrition
		supplements like proteins, pre-workouts, and fat burners to vitamins specifically
		designed to support your overall well-being, we have the products that will help
		you achieve your fitness goals.<br /><br /> But we're more than just a supplement
		store. We understand that a successful fitness journey requires more than just
		the right nutrition. That's why we also offer a wide variety of auxiliary items
		for the gym and home exercises. From resistance bands and workout accessories
		to recovery tools and gym apparel, we've got you covered for all your fitness
		needs.<br /><br /> At The Gym Oasis, we believe that your fitness journey should
		be supported by exceptional service. Our knowledgeable and friendly team is here
		to assist you every step of the way. Whether you need guidance in choosing the
		right products or advice on optimizing your workout routine, we're here to provide
		you with personalized recommendations and expert insights.<br /><br /> Discover
		the oasis of high-quality fitness products at our store. Step into a world where
		excellence meets service, and where your fitness goals are our top priority.
		Join us on this journey towards a healthier, stronger, and more vibrant you.
		The Gym Oasis - where quality meets your fitness aspirations.
	</p>
</article>

<style>
	.article_title {
		font-size: clamp(2rem, 7vw, 2.5rem);
		color: var(--primary);
		text-align: center;
	}
	.article_strong {
		color: var(--accent);
	}
	.article_text {
		color: var(--primary);
		font-weight: 500;
		font-size: clamp(0.7rem, 4vw, 1.1rem);
		line-height: 1.7rem;
	}
	.article_text::first-letter {
		font-weight: 900;
		font-size: clamp(1.1rem, 6vw, 1.6rem);
	}
</style>
