---
export interface Props {
	title: string;
	body: string;
	href: string;
	img: string;
}

const { href, title, img, body } = Astro.props;
---

<li class='link-card'>
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<img src=`${img}` />
		<p>
			{body}
		</p>
	</a>
</li>

<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.25rem;
		background-color: var(--neutral-gray);
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card > a > h2 {
		margin-bottom: 1rem;
	}
	.link-card > a {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		margin: 0 auto;
		border-radius: 0.35rem;
		color: #111;
		background-color: var(--neutral-gray);
	}
	h2 {
		margin: 0;
		font-size: clamp(1rem, 6vw, 1.25rem);
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		color: var(--primary);
	}
	img {
		height: 100px;
		width: 100px;
		background-color: transparent;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: var(--accent);
		font-size: clamp(0.7rem, 4vw, 1rem);
		font-weight: 700;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
</style>
