---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<footer slot='footer' class='footer'>
	<div class='footer_wrapper'>
		<ul class='footer_social'>
			<li class='social_link'>
				<img src='svg/facebook.svg' alt='Facebook icon' />
			</li>
			<li class='social_link'>
				<img src='svg/facebook-messenger.svg' alt='Facebook-messenger icon' />
			</li>
			<li class='social_link'>
				<img src='svg/instagram.svg' alt='Instagram icon' />
			</li>
		</ul>
		<div class='contact'>
			<strong>Contact</strong>
			<a class='contact_link' href='callto:+44506122310'>07506122310</a>
			<a class='contact_link' href='mailto:contact@theGymOasis.store'
				>contact@theGymOasis.store</a
			>
			<p class='contact_link'>Mon-Fri:9.00-16.00</p>
		</div>
	</div>
	<p class='footer_text'>
		The seller is THE GYM OSIS based in Watford 73 Sydney Rd WD18 7GA. Company
		LTD, UTR No.451236547.
	</p>
	<p class='footer_text'>
		Copyrights © 2023.The Gym Oasis.</br>All rights reserved.
	</p>
</footer>

<style>
	.footer {
		background-color: var(--neutral-gray);
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -2px rgba(0, 0, 0, 0.1);

	}
	.footer_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.footer_social {
		padding: 0;
	}
	.social_link {
		display: inline-block;
		list-style: none;
	}
	.social_link > img {
		height: 30px;
		width: 30px;
	}
	.contact {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 0.7rem;
		padding-bottom:1.5rem;
		margin-bottom: 1.5rem;
		border-bottom: 2px solid var(--primary);
	}

	.contact > strong {
		font-size: 1rem;
		color: var(--primary);
		padding-bottom: .4rem;
	}
	.contact_link {
		text-decoration: none;
		color: var(--primary);
		font-weight: 700;
		margin:0;
		line-height:1.3rem;
	}
	.footer_text {
		font-size: clamp(0.4rem, 2.5vw, 0.8rem);
		text-align: center;
		color: var(--primary);

	}
</style>
