<footer>
	<p>All rights reserved THE GYM OASIS.</p>
	<ul class='bottom_nav'>
		<li class='social_link'></li>
		<li class='social_link'></li>
		<li class='social_link'></li>
		<li class='social_link'></li>
	</ul>
</footer>
