<h1 class='main_header'>
	Find Your Winning Formula with best<br />
	<span class='text-gradient'>Suplements and Vitamins</span><br /> just for you.<br
	/>
	<span class='text-gradient'>Unlock Your True Strength!!!</span>
</h1>
<p class='main_hero'>
	Best shop in Watford.
	<code>Suplements and Vitamins</code>
	for
	<code>You and for Your body.</code><br />
	Come and visit our shop in <strong>73 Sydney Road WD18 7ES</strong>
</p>

<style>
	.main_header {
		font-size: clamp(1.5rem, 4vw, 2.5rem);
		font-weight: 800;
		text-align: center;
		margin-bottom: var(--m-bottom);
		color: var(--primary);
		z-index: 1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.main_hero {
		line-height: 1.6;
		z-index: 1;
		font-size: clamp(0.8rem, 3.5vw, 1.4rem);
		text-align: center;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: var(--neutral-gray);
		padding: 1rem;
		margin-bottom: var(--m-bottom);
		border-radius: 0.4rem;
		color: var(--primary);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
	.main_hero > code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: var(--accent);
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.main_hero > strong {
		color: var(--accent);
	}
</style>
