<nav class='nav' slot='header'>
	<div class='logo'>
		<h2>The Gym Oasis</h2>
	</div>
	<ul class='nav_wrapper'>
		<li class='nav_link'>
			<a href='about'>about</a>
		</li>
		<li class='nav_link'>
			<a href='products'>products</a>
		</li>
		<li class='nav_link'>
			<a href='blog'>blog</a>
		</li>
		<li class='nav_link'>
			<a href='contact'>contact</a>
		</li>
	</ul>
</nav>
<style>
	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 clamp(0.5rem, 3vw, 2rem);
		background-color: var(--neutral-gray);
		border: 1px solid #d2f5ff;
		border-radius: 5px;
		margin-bottom: var(--m-bottom);
	}
	.logo {
		font-size: clamp(0.8rem, 2.5vw, 2rem);
		color: var(--primary);
	}
	.logo > h2 {
		text-align: center;
	}
	.nav_wrapper {
		display: flex;
		gap: 1rem;
	}
	.nav_link {
		list-style: none;
	}
	a {
		text-decoration: none;
		text-transform: capitalize;
		color: rgb(var(--accent));
		font-weight: 700;
		font-size: clamp(0.5rem, 2.5vw, 1.2rem);
		color: var(--primary);
	}
	a:is(:hover, :focus-within) {
		background-position: 0 10rem;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		border-bottom: 2px solid var(--accent-gradient);
	}
</style>
