---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// 	img: string;
// 	style?: string;
// }
// const { href, title, img, body, style } = Astro.props;
---

<div class='slider_conteiner'>
	<ul class='slider-list_conteiner'>
		<li class='slider_list'>
			<div class='slider_wrapper'>
				<div class='slider-wrapper_img'>
					<div class='img'>
						<img
							src='/slider.img/7nutrition-bodybuilder-gainer-3000g (1).png'
							alt='Gainer Vanillla 3000g'
						/>
						<strong class='product_title'>
							<a href='#'>Gainer Vanillla 3000g</a>
						</strong>
						<p class='product_price'>60 £</p>
					</div>
					<div class='img'>
						<img
							src='/slider.img/7NUTRITION-Chocolate-Belgian-Dark-65g.png'
							alt='Chocolate Dark 65g'
						/>
						<strong class='product_title'>
							<a href='#'>Chocolate Dark 65g</a>
						</strong>
						<p class='product_price'>10 £</p>
					</div>
					<div class='img'>
						<img src='/slider.img/bcaa-capsule.png' alt='BCAA Capsule' />
						<strong class='product_title'>
							<a href='#'>BCAA Capsule</a>
						</strong>
						<p class='product_price'>30 £</p>
					</div>
					<div class='img'>
						<img src='/slider.img/chocoDzam.png' alt='Choco Dzam' />
						<strong class='product_title'>
							<a href='#'>Choco Dzam</a>
						</strong>
						<p class='product_price'>10 £</p>
					</div>
					<div class='img'>
						<img
							src='/slider.img/Whey-Isolate-90-500G.png'
							alt='Whey Isolate-90 500G'
						/>
						<strong class='product_title'>
							<a href='#'>Whey Isolate-90 500G</a>
						</strong>
						<p class='product_price'>60 £</p>
					</div>
				</div>
			</div>
			<div class='slider_navigation'>
				<div class='slider_prev'>&#60;</div>
				<div class='slider_next'>&#62;</div>
			</div>
		</li>
	</ul>
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const sliderWrapper = document.querySelector(
			'.slider-wrapper_img'
		) as HTMLElement;
		const sliderItems = document.querySelectorAll(
			'.img'
		) as NodeListOf<HTMLElement>;
		const slideWidth = sliderItems[0].offsetWidth;
		let currentPosition = 0;

		function slideNext() {
			currentPosition -= slideWidth;
			if (currentPosition < -slideWidth * (sliderItems.length - 1)) {
				currentPosition = 0;
			}
			sliderWrapper.style.transform = `translateX(${currentPosition}px)`;
		}

		function slidePrev() {
			currentPosition += slideWidth;
			if (currentPosition > 0) {
				currentPosition = -slideWidth * (sliderItems.length - 1);
			}
			sliderWrapper.style.transform = `translateX(${currentPosition}px)`;
		}

		const nextButton = document.querySelector('.slider_next');
		const prevButton = document.querySelector('.slider_prev');

		nextButton?.addEventListener('click', slideNext);
		prevButton?.addEventListener('click', slidePrev);
	});
</script>

<style>
	.slider_container {
		width: 100%;
		overflow: hidden;
	}
	.slider_title {
		text-transform: uppercase;
		font-size: clamp(2rem, 7vw, 2.5rem);
		color: var(--primary);
	}
	.slider_conteiner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.slider-list_conteiner {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	.slider_list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		list-style: none;
	}
	.slider-wrapper_img {
		display: flex;
		transition: transform 0.5s ease-in-out;
	}
	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: var(--primary);
	}
	.img {
		flex: 0 0 100%;
		text-align: center;
		width: 100%;
	}
	img {
		height: auto;
		max-height: 200px;
	}
	strong {
		margin: 0;
		font-size: clamp(1rem, 6vw, 1.25rem);
		color: var(--primary);
	}
	.slider_next {
		position: absolute;
		z-index: 10;
		font-size: 3rem;
		top: 50%;
		right: 0;
		font-weight: 500;
		color: var(--accent);
		cursor: pointer;
	}
	.slider_prev {
		position: absolute;
		z-index: 10;
		font-size: 3rem;
		left: 0;
		top: 50%;
		font-weight: 500;
		color: var(--accent);
		cursor: pointer;
	}
	.product_price {
		font-size: clamp(2rem, 7vw, 2.5rem);
		color: var(--accent);
		font-weight: 700;
		margin: 0;
	}
</style>
