---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header>
		<slot name='header' />
	</header>
	<body>
		<slot />
	</body>

	<style is:global>
		:root {
			--accent: 73, 125, 194;
			/* --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%); */
			--accent-gradient: linear-gradient(
				to bottom,
				#1d2c44,
				#233b5a,
				#284b70,
				#295c87,
				#286e9f,
				#1a74b1,
				#0979c4,
				#007ed6,
				#0074e3,
				#2b68ec,
				#7c3aed,
				#7c3aed,
				#7c3aed
			);
		}
		html {
			font-family: system-ui, sans-serif;
			background-color: #f6f6f6;
		}
		code {
			font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
				DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
		}
	</style>
</html>
