---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header>
		<slot name='header' />
	</header>
	<body>
		<slot />
		<slot name='footer' />
	</body>

	<style is:global>
		:root {
			--accent: 255, 153, 0;
			/* --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%); */
			/* --accent-gradient: linear-gradient(
				to bottom,
				#003366,
				#005c8f,
				#00859b,
				#00ab8a,
				#66cc66
			); */
			--accent-gradient: linear-gradient(
				to bottom,
				#3d3959,
				#415077,
				#3e6994,
				#3284ae,
				#1d9fc4,
				#1d9fc4,
				#1d9fc4,
				#1d9fc4,
				#3284ae,
				#3e6994,
				#415077,
				#3d3959
			);

			--primary: #3d3959;
			--secondary: #04c4d9;
			--accent: #f28705;
			--neutral-gray: #f2dfdf;
			--neutral-offwhite: #f2eaea;
			--border: #04c4d9;
			--success: #33cc33;
			--errorr: #f23847;

			--m-bottom: 5rem;
		}
		html {
			font-family: system-ui, sans-serif;
			background-color: var(--neutral-offwhite);
		}
		code {
			font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
				DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
		}
	</style>


</html>
